@model IEnumerable<AppBiblioteca.Models.Devoluciones>

@{
    ViewBag.Title = "Listado de Devoluciones";
}

<h2>Devoluciones</h2>

<p>
    <a href="~/Devoluciones/Create" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo Devolucion</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Socios.SocioNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevolucionFecha)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Socios.SocioNombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevolucionFecha)
            </td>
            <td class="text-center">
               <a class="btn btn-info" href="/Devoluciones/Details/@item.DevolucionID"><i class="fa fa-info-circle" aria-hidden="true"></i> Detalles</a>
            </td>
        </tr>
    </tbody>
}

</table>
