@model IEnumerable<AppBiblioteca.Models.Secciones>

@{
    ViewBag.Title = "Listado de Secciones";
}

<h2>Listado de Secciones</h2>

<p>
    <a class="btn btn-primary" href="/Secciones/Create">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Nueva Seccion
    </a>
</p>

@if (ViewBag.MensajeDevuelto != null)
{
    <div class="alert alert-warning text-center" role="alert">
        @ViewBag.MensajeDevuelto
    </div>
}

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeccionesNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeccionesNombre)
                </td>
                <td class="text-center">
                   
                    <a class="btn btn-dark" href="/Secciones/Edit/@item.SeccionesID">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        Modificar
                    </a>
                    <a class="btn btn-danger" onclick="EliminarSeccion(@item.SeccionesID)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function EliminarSeccion(SeccionID) {

        var confirmar = confirm("¿Esta seguro de eliminar el Autor seleccionado?")
        if (confirmar == true) {
            location.href = '../Secciones/DeleteConfirmed/' + SeccionID;
        }
    }
</script>
